#search {
    background-color: var(--content);
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    outline: none;
    color: var(--text);
    font-size: 1.05rem;
    width: 500px;
    border-radius: 2px;
    &:focus {
        outline: none;
        border: none;
    }
}

.anggota {
    background-color: var(--content-light);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    color: var(--text);
}

#role {
    text-transform: uppercase;
    color: var(--text-dark);
    font-size: 1.4rem;
}

